@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --primary-color: #3a4052
}

.btn{
  border-radius: 15px;
}

.fas{
    color: #F7559A;
}

body {
     font-family: 'Open sans', sans-serif;
     line-height: 1.5;
}

h1 {
     color: white;
     font-weight: 300;
     font-size: 60px;
     line-height: 1.2;
     margin-bottom: 15px;
}

.btn{
    color: #F7559A;
}

.showcase{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color);
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
}

.content{
    z-index: 1;
}

.modal-backdrop.show{
    display: none;
}

.social-buttons {
    padding: 10px;
}

.video-container::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.login{
    border-radius: 20px;
}